 html {
    display: block;
    margin: 0px;
    margin: 0;
    padding: 0;
}

h2 {
    text-decoration: underline;
}
.posts {
    display: flex;
    height: 150px;
    border-style: inset;
    justify-content: space-between;
    flex-direction: column;
    margin-bottom: 25px;
}
/* light and dark toggle */
.container.light {
    background-color: #ffffff;
    color: #000000;
}

.container.dark {
    background-color: darkslategray;
    color: #f8f9fa;
}

#back-button {
    position: relative;
    display: inline-block;
    left: 90%;
    width: 70px;
}